
#account{
    font-size: 24px;
    font-family: Merriweather;
    margin-bottom: 5%;
}
#password{
margin: 3%;
font-size: 20px;
}
form label{
font-size: 16px;
}
#email{
    font-size: 20px;
    font-family: Merriweather;
    margin-bottom: 20px;
}
#reformular{
    display: flex;
}
#change{
    margin-left: 14%;
    color: #201CCD;
}
#barra-reta{
    margin-top: 10px;
    color: #EFEFFF;
}
.box-pass{
    padding: 10px;
    
}
.save-button{
    padding: 15px;
    font-size: 16px;
    background: #202142;
    border-radius: 10px;
    color: #FFFFFF;
}
.save-button:hover{
    background: #201CCD;
    color: #EFEFFF;
}
.input-box {
    
    margin-bottom: 0.2em;
   
}
 
.input-box input[type="text"], .input-box input[type="password"]{
    padding: 1em;
    box-shadow: 2px 2px 2px rgb(0, 0, 0,0.2);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #C3C3E4;
    margin-top: 5px;
}
#campo-central{
     display: flex;
    flex-direction: column;
    margin-left: 40%;
}
 
#barra-reta2{
    margin-top: 15px;
    color: #EFEFFF;
}

#text-pass{
    font-size: 16px;
    margin: 1em;
}
